# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
server/.env/*
!server/.env/.env
!server/.env/.env.example