:root {
  /* ========== 布局尺寸 ========== */
  --sidebar-width: 240px;
  --sidebar-collapse-width: 64px;
  --sidebar-width: 240px;
  --sub-sidebar-width: 180px;
  --double-sidebar-width: calc(var(--sidebar-width) + var(--sub-sidebar-width));
  --logo-width: 240px;
  --header-height: 56px;
  --tagsview-height: 40px;
  --footer-height: 48px;
  --content-padding: 12px;

  /* ========== 过渡动画 ========== */
  --transition-all: all 0.3s ease;

  --font-family: '';
  
}